  <!--<%- include('header') -%>
  <div class="box" id="heading">
    <h1><%=day %></h1>
  </div>
    <%for (var i = 0; i= witem.length; i++) {%>
      <div class="item">
        <input type="checkbox" name="" value="">
        <p><%=witem[i] %></p>
      </div>

    <%}%>

    <form class="" action="/work" method="post">
      <input type="text" name="" value="">
      <button type="submit" name="work" >+</button>

    </form>
  <%- include('footer') -%>-->
