html {

  font-family: 'helvetica neue', sans-serif;

}
body{
  background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;

}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #ffff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #BB8760;
  text-align: center;
  box-shadow: 2px 2px 1px 1px grey;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.list-items{
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item.list-items:last-child {
  border-bottom: 0;
}
button.icons{
  margin-right: 10px;
  border: none;
  background-color: #E1E5EA;
  width:25px;
  height: 25px;
  box-shadow: 1px 1px 0.5px 0.5px grey;
  cursor: pointer;
  transition: all 0.2s ease;
}
button.icons:active{
  box-shadow: 0.5px 0.5px 1px 0.5px grey;
  transform: translateY(2px);
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #BB8760;
}

.list-items input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
    text-align: center;
  margin-left: 20px;
}

button.btn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #BB8760;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  border-width: 0;
  box-shadow: 2px 2px 1px 1px grey;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 10px;
}
button.btn:hover{
  background: #4F0E0E;

}
button.btn:active{
  box-shadow: 1px 1px 2px 1px grey;
  transform: translateY(2px);
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  margin-bottom: 5px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #BB8760;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 0;
  text-align: center;



}
@media(max-width:500px){
  body{
    height: 100vh;
  }
  .box {
    max-width: 350px;
  }
  p {
    margin: 0;
    font-size: 19px;
    font-weight: 500;
    color: #00204a;
  }
  button.btn {
    min-height: 30px;
    width: 30px;
  }
}
@media(max-width:400px){
  body{
    height: 100vh;
  }
  .box {
    max-width: 300px;
    margin: 30px auto;
  }
  p {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: #00204a;
  }
  button.btn {
    font-size: 20px;
    position: relative;
    right:4px;
    min-height: 10px;
}
}
@media(max-width:310px){
  button.btn {
    font-size: 17px;
    position: relative;
    right:10px;
    min-height: 10px;
    box-shadow: 1px 1px 0.5px 0.5px grey;
}
button.icons{
  width: 22px;
  height: 22px;
}
}
